{%extends 'base.html'%}
{%block content%}
<div class="hero-image  ">
    <div class="bg-light">
        <h3 class="text-center my-1 "><span class="text-primary">Walkins</span></h3>
        <div class="container   my-4">

<table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Course</th>
        <th>Source</th>
        <th>LeadStatus</th>
        <th>Demodate</th>
        <th>Counsler</th>
        <th>Remarks</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Rushi</td>
        <td>9834102442</td>
        <td>john@example.com</td>
        <td>Python</td>
        <td>Website</td>
        <td>callback</td>
        <td>2020-01-17</td>
        <td>Rushi</td>
        <td>None</td>
       
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
{%endblock%}